<!DOCTYPE html>
<html>
<head>
    <title>Email Spam Classifier</title>
    <style>
        body {
            text-align: center;
        }

        button {
            color: aliceblue;
            background-color: blue;
        }
    </style>
</head>
        <body>
            <h1>Email Spam Classifier</h1>
      <div>
          <form method="POST">
              <textarea rows="12" cols="60" name="email-content" placeholder="Enter your email here"
              value="{{ text }}">{{ text }}</textarea>
              <div>
                  <button type="submit">Submit</button>
                  <a href="/">reset</a>
              </div>
          </form>
      </div>
      <div>
          <p id="display">{{text}}</p>
      </div>
        </body>
</html>