<!DOCTYPE html>
<html>
<head>
    <title>Email Spam Classifier</title>
    <style>
        body {
            text-align: center;
        }

        button {
            color: aliceblue;
            background-color: blue;
        }
    </style>
</head>
        <body>
            <h1>Email Spam Classifier</h1>
      <div>
          <form method="POST" actions="/predict">
              <textarea rows="12" cols="60" name="email-content" placeholder="Enter your email here">
              {{ email_text }}</textarea>
              <div>
                  <button>check spam</button>
                  <a href="/">reset</a>
              </div>
          </form>
      </div>
      
          <h2>{{predictions}}</h2>
      
        </body>
</html>